.color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
    margin: 50px;
}
.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid grey;
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25 ease;
}
.color-display p{
    color: hsl(0, 0, 20);
    font-size: 2rem;
    text-align: center;
}
label{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="color"]{
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid darkgray;
}