.card{
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.123);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    display: inline-block;
    text-align: center;

}
.card .image{
    max-width: 90% ;
    border-radius: 70%;
    height: auto;
    margin-bottom: 10%;
}
.card .name{
    font:bold;
    margin: 0;
    font-family: monospace;
}
.card .description{
    font:bold;
    font-family: monospace;
}